*{

    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

header {
    background-image: url(assest/img/riel\ tradicional.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;

}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo {
    font-weight: bold;
    font-size: 25px;
    color: rgb(47, 177, 177);

}

.menu .navbar ul {
    list-style: none;

}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color:blanchedalmond;
    display: block;

}

.menu .navbar ul li a:hover {
    color: rgb(165, 199, 45);
}

#menu {
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-text{
    text-align: center;


}

.header-text h1 {
    color:white;
    font-size: 55px;
}

.header-text p{
    color: white;
    margin-top: 35px;
}

.btn-1 {
    display:inline-block;
    background-color: #34e9d0;
    margin-top: 35px;
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
}

.btn-1:hover{
    background-color: #2fcab5;
}

.services{
    padding: 50px 0px;
    text-align: center;
    color: #454646;

}

.services h2{
    font-size: 55px;
    margin-bottom: 25px;
}

.txt-1{
    font-size: 18px;
    padding: 0px 200px;
    margin-bottom: 55px;
}

.group-services{
    display: flex;
    justify-content: space-between;
}

.service {
    padding: 35px 25px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);

}

.service img{
    width: 50px;
    margin-bottom: 25px;

}

.service h3{
    font-size: 22px;
    margin-bottom: 15px;
}

.service p{
    font-size: 18px;
}

.porfolio{
    padding: 50px 0px;
    color: #454646;
    display: flex;
}
.porfolio-txt h2{
    font-size: 55px;
    margin-bottom: 35px;
}

.porfolio-txt p{
    font-size: 18px;
    margin: 0px 135px 55px 0px;
}

.imgs{
    display: flex;
}

.imgs img{
    width: 250px;
    margin: 0px 10px;
}

.bg-sec{
    background-image: url(assest/img/Cojinería.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 35px 0px;
}

.bg-txt{
    padding: 100px 0px;
    text-align: center;
    color: white;
}

.bg-txt h2{
    font-size: 55px;
    margin-bottom: 35px;
}

.bg-txt p{
    font-size: 18px;
    margin-bottom: 25px;
}

.numbers {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    color: #454646;
}

.number {
    text-align: center;
}

.number h3{
    font-size: 100px;
    margin-bottom: 25px;
}

.number p{
    font-size: 18px;
}

footer{
    padding: 150px 0px;
    background-color: #454646;
}

.ft{
    display: flex;
    justify-content: space-between;
}

.enlace h3{
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
}

.enlace li{
    list-style: none;
}

.enlace a {
    color: white;
    display: block;
    margin-bottom: 15px;
}

.enlace form {
    display: flex;
    flex-direction: column;
}

.brn-2 {
    padding: 10px 25px;
    border: 0;
}

.brn-3 {
    background-color: #34e9d0;
    padding: 10px 25px;
    border: 0;
    color: white;
    margin-top: 15px;
}

@media (max-width: 1200px){
    .menu{
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: #34e9d0;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    header{
        height: 55vh;
    }
    .header-text{
        margin-top: 50px;
        padding: 0px 25px;
    }
    .services{
        padding: 30px;
    }
    .txt-1{
        padding: 0px;
        margin-bottom: 35px;
    }
    .group-services{
        flex-direction: column;
    }
    .service{
        margin-bottom: 20px;
    }
    .porfolio{
        padding: 0px 30px;
        flex-direction: column;
        text-align: center;
    }
    .porfolio-txt p{
        margin: 0px;
    }
    .imgs{
        flex-direction: column;
        align-items: center;
    }
    .imgs img{
        margin: 15px 0px 0px 0px;
    }
    .bg-txt{
        padding: 30px;
    }
    .numbers{
        flex-direction: column;
        padding: 30px;
    }
    footer{
        padding: 30px;
    }
    .ft{
        text-align: center;
        flex-direction: column;
    }
    .enlace form{
        align-items: center;
    }


}

